<br><br>
Informations
<ul>
    <li>nom : <%= @junior.name %></li>
    <li>alpha : <%= @junior.alpha %></li>
    <li>beta : <%= @junior.beta %></li>
</ul>

<br><br>

utilisateurs
<ul>
    <li>Total : <% @junior.users.each do |user| %> <%= user.first_name %>, <% end %></li>
    <li>Admin : </li>
    <li>Membre :</li>
    <li>Adhérents :</li>
    <li>Clients : </li>
</ul>

<br><br>
liens d'invitation à la structure
<ul>
    <li>Client : <%= link_to 'inviter un membre', new_user_registration_path(registration_data: {type: 'client', junior_id: @junior.id} ) %> </li>
    <li>Adhérent : <%= link_to 'inviter un membre', new_user_registration_path(registration_data: {type: 'adherent', junior_id: @junior.id} ) %> </li>
    <li>Membre : <%= link_to 'inviter un membre', new_user_registration_path(registration_data: {type: 'membre', junior_id: @junior.id} ) %> </li>
</ul>
